name: TestAndBuild

on:
  workflow_dispatch:
    branches:
      - '*'
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.13

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Test pkg
      run: |
            cd pkg/cetransformer
            go test -v -coverprofile=coverage.out -covermode=atomic
            go tool cover -func=coverage.out

    - name: Upload coverage report
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODCOV_TOKEN }}
        file: pkg/cetransformer/coverage.out
        flags: unittests
        name: cetransformer        
          
    - name: Build mapper
      run: go build -o bin/mapper cmd/mapper/main.go

    - name: Build producer
      run: go build -o bin/producer cmd/producer/main.go

      
